body{
  background-color: #000000;
}

main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img#banner{
  max-width: 100%;
  height: auto;
  position: center;
  margin: 0.1em;
}

div.logoRow{
  text-align: center;
  margin-top: 2em;
}

a{
  text-decoration: none;
  font-family: 'Fira Mono', monospace;
  color: #000000;
}

.socialIcon {
  padding: 1em;
  position: relative;
  transition: transform 0.2s;
}

.socialIcon:hover {
  padding: 1em;
  transform: scale(1.2);
}

footer{
  position: fixed;
  right: 0;
  bottom: 0;
}